@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*
- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
*/

:root{
  --bluepale: hsl(225, 100%, 94%);
  --bluebright: hsl(245, 75%, 52%);
  
  --white: #fff;
  --grey: #ddd;
  --verypaleblue: hsl(225, 100%, 98%);
  --desaturatedblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
}

/* basic styling */
*{
  box-sizing: border-box;
}

body{
  background: var(--bluepale);
  margin: 0;
  padding: 0;
  font: 1rem 'Red Hat Display', sans-serif;

}

main{
  padding: .5em;
  
  /* centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card{
  background: var(--verypaleblue);
  border-radius: 1.5em;
  max-width: 375px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 20px 20px -10px var(--grey);

  position: relative;
  z-index: 2;
}

.card figure{
  margin: 0;
}

.card figure img{
  max-width: 100%;
}

.order-details{
  padding-inline: 2em;
  display: flex;
  flex-direction: column;
}

.order-details p{
  color: #888;
  line-height: 1.7em;
}

.order-price{
  background: #f4f4f4;
  border-radius: 1em;
  margin-block: 1em;
  padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  display: flex;
  gap: 1em;
}

.order-price a{
  font-weight: bold;
}

.order-price a:hover{
  opacity: .7;
}

.price span{
  display: block;
}

.price span:nth-child(2){
  color: #888;
}

.order-proceed{
  margin-block: 1em;
  display: flex;
  flex-direction: column;
}

.order-proceed .btn{
  border: none;
  border-radius: .8em;
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-size: .9em;
  font-weight: 700;
}

.btn-primary{
  background: var(--bluebright);
  color: white;
  box-shadow: 0px 10px 20px -10px black;
  position: relative;
}

.btn-primary:hover{
  opacity: .8;
}

.attribution {
  font-size: 11px;
  text-align: center;
  
  position: absolute;
  z-index: 1;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 576px){
  main{
    padding: 0;
  }
}